<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="https://bravix.com.mx" target="_blank" rel="noopener">
  <img alt="Bravix - AI Automation & Software Development" src="/blog/assets/logo.png" width="75" height="50" />
</a>
